coc/
htop/
.mono/
caddy/
tint2/
*/test*
bar3x/
dconf/
caddy/
pulse/
kitty/
discord/
unity3d/
KeePass/
inkscape/
pipewire/
spotify/
keepassxc/
Skycoder42/
mimeapps.list
herbstluftwm/
QtProject.conf
BraveSoftware/
spotify-tui/client.yml
**/.spotify_token_cache.json
