coc/
htop/
*.png
.mono/
caddy/
tint2/
*/test*
bar3x/
dconf/
caddy/
pulse/
kitty/
*BACKUP*
discord/
unity3d/
KeePass/
spotify/
calcurse/
neofetch/
inkscape/
pipewire/
TabNine/
bitburner/
nvim/pack/
flameshot/
keepassxc/
Skycoder42/
libreoffice/
tmux/plugins
nvim/plugged
mimeapps.list
transmission/
herbstluftwm/
Raspberry Pi/
cef_user_data/
QtProject.conf
BraveSoftware/
spotify-tui/client.yml
**/.spotify_token_cache.json
