coc/
cdm/
htop/
GIMP/
*.png
.mono/
caddy/
tint2/
*/test*
bar3x/
dconf/
river/
caddy/
pulse/
kitty/
lutris/
menus/
*BACKUP*
discord/
gtk-2.0/
unity3d/
KeePass/
spotify/
calcurse/
neofetch/
cmus/cache
cmus/lib.pl
cmus/autosave
cmus/command-history
cmus/search-history
sv/spotifyd/log/supervise/pid
sv/spotifyd/log/supervise/status
Clementine/
inkscape/
pipewire/
TabNine/
bitburner/
nvim/pack/
flameshot/
keepassxc/
Skycoder42/
libreoffice/
tmux/plugins
nvim/plugged
mimeapps.list
transmission/
herbstluftwm/
Raspberry Pi/
cef_user_data/
QtProject.conf
BraveSoftware/
scripts/openkpcx
**/supervise/status
spotify-tui/client.yml
**/.spotify_token_cache.json
